@font-face {
    font-family: "wisdom script";
    src: url("../fonts/wisdom-script.otf") format("opentype");
}

/*****BASE STYLES*****/

body {
    font-family: montserrat;
    color: #000000;
}

h1,
h2,
h3,
h4 { 
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 { 
    font-size: 18px;
}

h4 {
    font-size: 12px;
}

p {
    font-size: 16px;
    line-height: 28px;
    padding: 0 30px;
}

 /*****GRID*****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
    margin: 0 auto;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

header {
    height: 100px;
    margin: 0 auto;
    width: 1250px;
    float: left;
}

header h1  {
    float: left;
    margin-top: 37px;
    padding-left: 30px;
}

header span {
    color: #77a466;
}

header nav {
    float: right;
    margin-top: 20px;
    padding-right: 25px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #77a466;
    padding-left: 20px;
}

/*****TOP SECTION*****/

.top-section, 
.bottom-section {
    clear: both;
    margin: 0 auto;
}

img {
    border-top: 3px #77a466 solid;
    border-bottom: 3px #77a466 solid;
    height: auto;
    margin-left: 30px;
    width: 1200px;
}


.main-title,
h2,
p {
    height: auto;
    float: left;
}

.main-title h2 {
    color: #77a466;
    margin: 10px 0px 0px 30px;
    padding: 20px 0px 10px 0px;
}

.main-title p {
    line-height: 25px;
    padding: 0 0 0 30px;
    width: 1200px;
}

/*****BOTTOM SECTION*****/

.section-one,
.section-two,
.section-three {
    border-top: 1px solid #eee;
    float: left;
    height: auto;
    padding-left: 15px;
    width: 400px;
}

.section-one h3 {
    margin-left: 15px;
    padding-top: 10px;
}
.section-one,
.menu {
    list-style: none;
    margin-left: 15px;
    padding: 0;
}

.menu,
li {
    padding: 10px 0;
    color: #77a466;
    
    text-align: left;
}

.section-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;

}


h3 {
    margin-left: 30px;
    padding-top: 10px;
}

.section-two,
p {
    color: #333;
}

/*****FOOTER*****/

footer {
    clear: both;
    margin-top: 50px;
    width: 1200px;
}

footer h4 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 30px;
    text-align: center;
}

footer span {
    color: #77a466;
    font-family: "wisdom script", cursive;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: lowercase;
}

/******** MENU PAGE ********/

/*****MENU*****/


#menu {
    width: 1200px;
}

h1 {
    color: #77a466;
    text-align: center;
}

h3 {
    font-weight: bold;
    text-align: center;
}

ul,
li {
    color: #77a466;
    list-style: none;
    font-size: 16px;
    padding-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}